

.wrapper
{
    height: 90%;
    width: 100%;
    box-sizing: border-box;
    // overflow: hidden;
}

 

.content{
    min-width: 1025px;
    backdrop-filter: blur(3px) brightness(70%);
    width: 90%;
    height: 90%;
    margin: auto;
    // padding-top: 5%;
    margin-top: 4%;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
    outline: 3px solid white;
}
.chatComp{
    color: white;
    overflow-y: scroll;
    // overflow: hidden;
    outline: 2px solid white;
    background-color: rgba(0, 0, 0, 0.3);
    grid-area: 3 / 2 / 20 / 14;
    margin-bottom: 10px;

}

.messageInput{
    border: none;
    color: white;
    background-color: rgba(0,0,0,0.3);
    grid-area: 20/ 2 / 21 / 12;
    padding-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid white;
}
.messageInput:focus{
    color: white;
    outline: none;
}
.messageSend{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    background-color:rgba(255, 255, 255, 0.7);

    grid-area: 20 / 12 / 21 / 14;
    box-shadow: inset 0 0 10px -1px rgba(139, 22, 197, 0.9);
    transition: 0.2s ease-in-out;

    cursor: pointer;
}
.messageSend:hover{
    transition: 0.2s ease-in-out;
    box-shadow:  0 0 30px -1px rgba(139, 22, 197, 0.863);
}
// Custom Scroll Bar
    ::-webkit-scrollbar {
        width: 10px;
        transition: all 0.3s ease-in-out;
        
    }
    ::-webkit-scrollbar-track {
        background: transparent; 
    }
    ::-webkit-scrollbar-thumb {
        // background: rgba(139, 22, 197, 0.863);
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 100px; 
    }
    ::-webkit-scrollbar-thumb:hover {
        // background: rgba(139, 22, 197, 0.981);
        background-color: rgba(217, 176, 238, 1);
    }
// .Scroll Bar
    
.helperComp{
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.3);
    grid-area: 3 / 15 / 18 / 24;
    outline: 2px solid white;
    center{
        height: 100%;
        width: 100%;
        display: inline-block;
    }
    .pfpContainer{
        width: 100%;
        // height: 130px;
        display: block;
        // text-align: center;
        margin-top: 10px;
        .profilePicture{
            width: 25%;
            border-radius: 50%;
            margin-left: 37.5%;
        }
        .likes{
            padding-left: 10px;
            width: auto;
            font-size: 24px;
            display: inline-block;
            color: white;
            margin-left: 10%;
            .helperLikes{
                display: inline-block;
                width: 28px;
                padding-bottom: 10px;
                color: rgb(0, 0, 213);
            }
        }
    }
}
.likeContainer{
    display: table;
    background-color: rgba(21, 169, 255, 0.3);
    grid-area: 19 / 15 / 21 / 19;
    height: 100%;
    outline: 2px solid white;
    transition: 0.2s ;
    cursor: pointer;
    box-shadow: 0 0 28px -2px rgba(21, 169, 255, 0.7);
    .likeButton{
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        margin: auto;
        font-size: 30px;
        text-align: center;
        color: white;
        .Like{
            padding-bottom: 6px;
            width: 28px;
            height: 28px;
        }
    }
}
.likeContainer:hover{
    background-color: rgba(21, 169, 255, 0.5);
}
.helperName{
    margin-top: 4px;
    font-size: 20px;
    color: white;
    text-align: center;
}
.helperDesc{
    color: white;
    font-size: 16px;
    padding: 6px;
}
.endContainer{
    display: table;
    background-color: rgba(197, 0, 0, 0.3);
    grid-area: 19 / 20 / 21 / 24;
    height: 100%;
    outline: 2px solid white;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 0 0 28px -2px rgba(197, 0, 0, 0.7);
    .endButton{
        display: table-cell;
        height: 100%;
        vertical-align: middle;
        margin: auto;
        font-size: 30px;
        text-align: center;
        color: white;
        .Exit{
            width: 28px;
            padding-bottom: 6px;
        }
    }
    
}
.endContainer:hover{
    background-color: rgba(197, 0, 0, 0.5);
}
