.wrapper {
  height: 90%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content {
  min-width: 1025px;
  -webkit-backdrop-filter: blur(3px) brightness(70%);
          backdrop-filter: blur(3px) brightness(70%);
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 4%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[24];
      grid-template-columns: repeat(24, 1fr);
  -ms-grid-rows: (1fr)[24];
      grid-template-rows: repeat(24, 1fr);
  outline: 3px solid white;
}

.chatComp {
  color: white;
  overflow-y: scroll;
  outline: 2px solid white;
  background-color: rgba(0, 0, 0, 0.3);
  -ms-grid-row: 3;
  -ms-grid-row-span: 17;
  -ms-grid-column: 2;
  -ms-grid-column-span: 12;
  grid-area: 3 / 2 / 20 / 14;
  margin-bottom: 10px;
}

.messageInput {
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  -ms-grid-row: 20;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-area: 20/ 2 / 21 / 12;
  padding-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid white;
}

.messageInput:focus {
  color: white;
  outline: none;
}

.messageSend {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.7);
  -ms-grid-row: 20;
  -ms-grid-row-span: 1;
  -ms-grid-column: 12;
  -ms-grid-column-span: 2;
  grid-area: 20 / 12 / 21 / 14;
  -webkit-box-shadow: inset 0 0 10px -1px rgba(139, 22, 197, 0.9);
          box-shadow: inset 0 0 10px -1px rgba(139, 22, 197, 0.9);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.messageSend:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: 0 0 30px -1px rgba(139, 22, 197, 0.863);
          box-shadow: 0 0 30px -1px rgba(139, 22, 197, 0.863);
}

::-webkit-scrollbar {
  width: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d9b0ee;
}

.helperComp {
  background-color: red;
  -ms-grid-row: 3;
  -ms-grid-row-span: 15;
  -ms-grid-column: 15;
  -ms-grid-column-span: 9;
  grid-area: 3 / 15 / 18 / 24;
}

.likeContainer {
  display: table;
  background-color: rgba(21, 169, 255, 0.3);
  -ms-grid-row: 19;
  -ms-grid-row-span: 2;
  -ms-grid-column: 15;
  -ms-grid-column-span: 4;
  grid-area: 19 / 15 / 21 / 19;
  height: 100%;
  outline: 2px solid white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.likeContainer .likeButton {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  margin: auto;
  font-size: 30px;
  text-align: center;
  color: white;
}

.likeContainer .likeButton .Like {
  padding-bottom: 6px;
  width: 28px;
}

.likeContainer:hover {
  background-color: rgba(21, 169, 255, 0.5);
}

.endContainer {
  display: table;
  background-color: rgba(197, 0, 0, 0.3);
  -ms-grid-row: 19;
  -ms-grid-row-span: 2;
  -ms-grid-column: 20;
  -ms-grid-column-span: 4;
  grid-area: 19 / 20 / 21 / 24;
  height: 100%;
  outline: 2px solid white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.endContainer .endButton {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  margin: auto;
  font-size: 30px;
  text-align: center;
  color: white;
}

.endContainer .endButton .Exit {
  width: 28px;
  padding-bottom: 6px;
}

.endContainer:hover {
  background-color: rgba(197, 0, 0, 0.5);
}
/*# sourceMappingURL=roomStyles.css.map */