.wrapper{
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
}
.forms{
    margin: 20px;
}
label{
    // margin-bottom: 2px;
}
input{
    // margin-bottom: 2px;
}
.button{
    text-align: center;
}
.alertText{
    color: red;
    font-size: 14px;
}
