$fontColor: rgb(182, 82, 0);
$pusherHeight: 10%;

.master{
    height: 100%;
    overflow: hidden;
    
}
.pusher{
    height: $pusherHeight;
}
.indexcontainer{
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    width: 70%;
    height: calc(100% - #{$pusherHeight});  
    // margin: 0 20%;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    backdrop-filter: brightness(70%) blur(3px);
    position: relative;
    animation: SlideFromDown 1.2s ease-out;
}

@keyframes SlideFromDown {
    from{
        bottom: -900px;
        opacity: 0;
    }
    to{
        bottom: 0;
        opacity: 1;
    }
}

Footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
h1{
    font-size: 50px;
}
.text{
    word-wrap: break-word;
    padding: 10%;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    color: white;
}

.accbuttons{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1 , 100px);
    vertical-align: middle;
}

.lbutton{
    // outline: solid rgb(180, 88, 255) 3px;
    transition: all 0.5s;
    cursor: pointer;
    grid-area: 1 / 3 / 2 / 6;

    text-align: center;
    
    background-color: transparent;
    a{
        color: $fontColor;
    }
}
.lbutton:hover{
    background-color: rgba(209, 60, 255, 0.35);
    color: white;
    // box-shadow: inset 0px 0px 22px -1px #3cff8d;
    
}

.rbutton{
    grid-area: 1 / 8 / 2 / 11;
    // outline: solid rgb(180, 88, 255) 3px;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    // backdrop-filter: blur(3px) brightness(70%);
    a{
        color: $fontColor;
    }
}

.rbutton:hover{
    background-color: rgba(46, 172, 255, 0.45);
    color: white;
    // box-shadow: inset 0px 0px 22px -1px #0004ff;
    
}

.buttontext{
    outline: 2px solid white;
    color: white;
    line-height: 100px;
    font-size: 36px;
    text-align: center;
    text-decoration: none;
    // vertical-align: middle;
    box-shadow: 0px 0px 80px -12px rgba(201, 23, 255, 0.55);
}

.buttontext:visited{
    text-decoration: none;
    color: black;
}