$fontColor: rgb(182, 82, 0);
$pusherHeight: 10%;

.master{
    height: 100%;
    overflow: hidden;
    
}
.pusher{
    height: $pusherHeight;
}
.indexcontainer{
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    width: 60%;
    height: calc(100% - #{$pusherHeight});  
    margin: 0 20%;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    backdrop-filter: brightness(70%) blur(3px);
    position: relative;
    animation: SlideFromDown 1.2s ease-out;
}

@keyframes SlideFromDown {
    from{
        bottom: -900px;
        opacity: 0;
    }
    to{
        bottom: 0;
        opacity: 1;
    }
}

Footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
h1{
    font-size: 50px;
}
.text{
    word-wrap: break-word;
    padding: 10%;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    color: white;
}

.accbuttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lbutton{
    border: solid rgb(36, 158, 36) 2px;
    transition: all 0.5s;
    cursor: pointer;
    height: 100px;
    width: 300px;
    line-height: 90px;
    text-align: center;
    
    background-color: rgba(78, 214, 78, 0.3);
    a{
        color: $fontColor;
    }
}
.lbutton:hover{
    background-color: rgba(78, 214, 78, 0.6);
    color: black;
}

.rbutton{
    border: solid rgb(36, 158, 36) 2px;
    transition: all 0.5s;
    cursor: pointer;
    height: 100px;
    width: 300px;
    line-height: 90px;
    text-align: center;
    background-color: rgba(0, 153, 255, 0.3);
    a{
        color: $fontColor;
    }
}

.rbutton:hover{
    background-color: rgba(0, 153, 255, 0.6);
    color: black;
}

.buttontext{
    font-size: 30px;
    
    word-wrap: break-word;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.buttontext:visited{
    text-decoration: none;
    color: black;
}