$fontColor: rgb(182, 82, 0);
$pusherHeight: 10%;

.master{
    height: 100%;
    // overflow-y: scroll;
    min-width: 350px;
    min-height: 500px;
}
.pusher{
    margin: auto;
    width: 100%;
    text-align: center;
    height: 10%;
    .logo{
        margin-top: 0.4%;
        height: 80% ;
        
    }
}
.filter{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    

}
.indexcontainer{
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    width: 70%;
    height: calc(100% - #{$pusherHeight});  
    // margin: 0 20%;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    // backdrop-filter: brightness(70%) blur(3px);
    position: relative;
    animation: SlideFromDown 2s ease-out;
    backdrop-filter: blur(3px);
}

@keyframes SlideFromDown {
    from{
        // bottom: -900px;
        opacity: 0;
    }
    to{
        // bottom: 0;
        opacity: 1;
    }
}

Footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
h1{
    font-size: 50px;
    word-wrap: break-word;
}
.buttontext{
    // display: table-cell;
    // line-height: 100px;
    // position: relative;
    // z-index
    // top: 0; bottom: 0; left: 0; right: 0;

    display: table-cell;
    // word-wrap: break-word;
    padding: auto;
    color: white;
    font-size: 26px;
    text-decoration: none;
    overflow: visible;
    vertical-align: middle;
    margin: auto;
    // height: 100%;
    // height: auto;
    // width: auto;
}
.text{
    word-wrap: break-word;
    padding: 10%;
    // text-align: center;
    // justify-content: center;
    font-size: 26px;
    color: white;
}
@media (max-width:700px){
    h1{
        font-size: 30px;
    }
    .text{
        font-size: 20px;
        padding: 4%;
    }
    .accbuttons{
        font-size: 20px;
    }
    .buttontext{
        font-size: 20px;
    }
    .lbutton{
        grid-area: 1 / 1 / 7 / 2;
    }
    .rbutton{
        grid-area: 1 / 7 / 7 / 13;
    }
    .indexcontainer{
        width: 90%;
    }
}
.accbuttons{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1 , 100px);
}

.lbutton{
    height: 100px;
    position: relative;
    vertical-align: middle;
    display: table;
    outline: 2px solid white;
    grid-area: 1 / 2 / 2 / 6;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
    background-color: rgba(209, 60, 255, 0.15);
    box-shadow: 0px 0px 80px -1px rgba(201, 23, 255, 0.75);
}

.lbutton:hover{
    background-color: rgba(209, 60, 255, 0.35);
    color: white;    
}

.rbutton{
    height: 100px;
    position: relative;
    vertical-align: middle;
    display: table;
    outline: 2px solid white;
    grid-area: 1 / 2 / 2 / 6;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
    grid-area: 1 / 8 / 2 / 12;
    transition: all 0.5s;
    box-shadow: 0px 0px 80px -1px rgba(201, 23, 255, 0.75);
    background-color: rgba(46, 172, 255, 0.15);
}

.rbutton:hover{
    background-color: rgba(46, 172, 255, 0.45);
    color: white;
    // box-shadow: inset 0px 0px 22px -1px #0004ff;
    
}


.buttontext:visited{
    text-decoration: none;
    color: black;
}