.wrapper{
  // position: fixed;
  height: 100%;
}
.content{
  max-height: calc(100% - 83px);
  // height: calc(100% - 83px);
  height: 856px;
  width: 100%;
  box-sizing: border-box;
  // border: 2px solid green
  padding-top: 4%;
  // padding-bottom: auto    ;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  // margin: auto 0;
  // background-color: blue;  
  // vertical-align: middle;
}
.profile{
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px) ;
  // width: 1200px;
  width: 1600px;
  height: 700px;
  margin: auto;
  // margin-left: 10%;
  // margin-left: auto;
  // margin-right: auto;
  
}