.wrapper {
  height: 100%;
  min-width: 300px;
}

.header {
  height: 100px;
  z-index: 100;
}

.content {
  height: 80%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 4%;
}

::-webkit-scrollbar {
  width: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d9b0ee;
}

@media (min-width: 1150px) {
  .profile {
    -ms-grid-columns: (1fr)[20];
        grid-template-columns: repeat(20, 1fr);
    -ms-grid-rows: (1fr)[11];
        grid-template-rows: repeat(11, 1fr);
    width: 80%;
  }
  .userProfilePicture {
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: 2 / 2 / 6 / 5;
  }
  .pfpEdit {
    padding-top: 10px;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: 6 / 2 / 7 / 6;
  }
  .Username {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 8;
    -ms-grid-column-span: 4;
    grid-area: 2 / 8 / 3 / 12;
    font-size: 24px;
    padding-top: 20px;
  }
  .likesCounter {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 13;
    -ms-grid-column-span: 2;
    grid-area: 2 / 13 / 4 / 15;
  }
  .editor {
    font-size: 18px;
    padding: 8px;
    -ms-grid-row: 4;
    -ms-grid-row-span: 6;
    -ms-grid-column: 8;
    -ms-grid-column-span: 11;
    grid-area: 4 / 8 / 10 / 19;
  }
  .Desc {
    font-size: 18px;
    padding: 8px;
    -ms-grid-row: 4;
    -ms-grid-row-span: 6;
    -ms-grid-column: 8;
    -ms-grid-column-span: 11;
    grid-area: 4 / 8 / 10 / 19;
  }
  .saveDesc {
    font-size: 20px;
    margin: 10px;
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    -ms-grid-column: 17;
    -ms-grid-column-span: 2;
    grid-area: 10 / 17 / 11 / 19;
  }
}

@media (min-width: 601px) and (max-width: 1150px) {
  .profile {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: (1fr)[24];
        grid-template-rows: repeat(24, 1fr);
    width: 95%;
  }
  .userProfilePicture {
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
    grid-area: 2 / 6 / 6 / 8;
  }
  .pfpEdit {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-area: 4 / 8 / 5 / 13;
  }
  .likesCounter {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: 4 / 2 / 5 / 5;
  }
  .Username {
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-area: 8 / 2 / 9 / 12;
    font-size: 24px;
  }
  .Username .text {
    text-align: center;
  }
  .editor {
    font-size: 18px;
    padding: 8px;
    -ms-grid-row: 10;
    -ms-grid-row-span: 11;
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-area: 10 / 2 / 21 / 12;
  }
  .Desc {
    font-size: 18px;
    padding: 8px;
    -ms-grid-row: 10;
    -ms-grid-row-span: 11;
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-area: 10 / 2 / 21 / 12;
  }
  .saveDesc {
    font-size: 20px;
    margin: 10px;
    -ms-grid-row: 21;
    -ms-grid-row-span: 3;
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
    grid-area: 21 / 6 / 24 / 8;
  }
}

@media (max-width: 600px) {
  .pfpEdit {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-area: 3 / 7 / 5 / 13;
  }
  .profile {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: (1fr)[24];
        grid-template-rows: repeat(24, 1fr);
    width: 95%;
  }
  .userProfilePicture {
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: 2 / 2 / 6 / 6;
  }
  .likesCounter {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    grid-area: 5 / 7 / 6 / 10;
  }
  .Username {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-area: 7 / 2 / 8 / 12;
    font-size: 24px;
  }
  .Username .text {
    text-align: center;
  }
  .editor {
    font-size: 18px;
    padding: 8px;
    -ms-grid-row: 9;
    -ms-grid-row-span: 12;
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-area: 9 / 2 / 21 / 12;
  }
  .Desc {
    font-size: 18px;
    padding: 8px;
    -ms-grid-row: 9;
    -ms-grid-row-span: 12;
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-area: 9 / 2 / 21 / 12;
  }
  .saveDesc {
    font-size: 20px;
    margin: 10px;
    -ms-grid-row: 21;
    -ms-grid-row-span: 3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-area: 21 / 4 / 24 / 10;
  }
}

.text {
  display: table-cell;
}

.likesCounter {
  color: white;
  padding: 4px;
  font-size: 22px;
  text-align: center;
  display: table;
}

.likesCounter .Like {
  width: 30px;
  padding-bottom: 12px;
  color: #0026ff;
}

.likesCounter .likes {
  display: table-cell;
}

.profile {
  margin: auto;
  height: 100%;
  display: -ms-grid;
  display: grid;
  outline: 4px solid white;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  overflow-x: hidden;
}

.userProfilePicture {
  position: relative;
  border-radius: 50%;
  width: 100%;
  cursor: pointer;
  margin-bottom: 0;
}

.userProfilePicture img {
  display: block;
  width: 100%;
  border-radius: 50%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.userProfilePicture:hover .overlay .overImg {
  opacity: 0.5;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: transparent;
}

.overlay .Overtext {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay .overImg {
  opacity: 0;
  width: 100%;
}

.pfpEdit {
  outline: 1x solid white;
  color: white;
  width: 100%;
  display: none;
  height: 100%;
}

.pfpEdit button {
  height: 100%;
  width: 100%;
}

.Username {
  display: table;
  vertical-align: middle;
  color: white;
  border-bottom: 1px solid white;
  margin-bottom: -1px;
}

.editor {
  color: white;
  outline: 2px solid white;
  background-color: transparent;
  border: none;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  resize: none;
}

.Desc {
  -webkit-backdrop-filter: blur(3px) brightness(70%);
          backdrop-filter: blur(3px) brightness(70%);
  color: white;
  outline: 2px solid white;
}

.saveDesc {
  text-align: center;
}
/*# sourceMappingURL=ProfileStyles.css.map */