.wrapper{
  height: 100%;
  min-width: 300px;
}
.header{
  height: 100px;
  z-index: 100;
}
.content{
  height: 80%;
  width: 100%;
  box-sizing: border-box;
  padding-top: 4%;
}
// Custom Scroll Bar
::-webkit-scrollbar {
  width: 10px;
  transition: all 0.3s ease-in-out;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 100px; 
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(217, 176, 238, 1);
}
// .Scroll Bar
@media (min-width: 1150px){
  .profile{
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(11, 1fr);
    width: 80%;
  }
  .userProfilePicture{
    grid-area: 2 / 2 / 6 / 5  ;
  }
  .pfpEdit{
    padding-top: 10px; 
    grid-area: 6 / 2 / 7 / 6;
  }
  .Username{
    grid-area: 2 / 8 / 3 / 12;
    font-size: 24px;
    padding-top: 20px;
  }
  .likesCounter{
    grid-area: 2 / 13 / 4 / 15;
  }
  .editor{
    font-size: 18px;
    padding: 8px;
    grid-area: 4 / 8 / 10 / 19;
  }
  .Desc{
    font-size: 18px;
    padding: 8px;
    grid-area: 4 / 8 / 10 / 19;
  }
  .saveDesc{
    font-size: 20px;
    margin: 10px;
    grid-area: 10 / 17 / 11 / 19;
  }
}
@media (min-width: 601px) and (max-width: 1150px){
  .profile{
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(24, 1fr);
    width: 95%;
  }
  .userProfilePicture{
    grid-area: 2 / 6 / 6 / 8;
  }
  .pfpEdit{
    grid-area: 4 / 8 / 5 / 13;
  }
  .likesCounter{
    grid-area: 4 / 2 / 5 / 5;
  }
  .Username{
    grid-area: 8 / 2 / 9 / 12;
    font-size: 24px;
    .text{
      text-align: center;
    }
  }
  .editor{
    font-size: 18px;
    padding: 8px;
    grid-area: 10 / 2 / 21 / 12;
  }
  .Desc{
    font-size: 18px;
    padding: 8px;
    grid-area: 10 / 2 / 21 / 12;
  }
  .saveDesc{
    font-size: 20px;
    margin: 10px;
    grid-area: 21 / 6 / 24 / 8;
  }
}
@media (max-width: 600px){
  .pfpEdit{
    grid-area: 3 / 7 / 5 / 13;
  }
  .profile{
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(24, 1fr);
    width: 95%;
  }
  .userProfilePicture{
    grid-area: 2 / 2 / 6 / 6;
  }
  .likesCounter{
    grid-area: 5 / 7 / 6 / 10;
  }
  .Username{
    grid-area: 7 / 2 / 8 / 12;
    font-size: 24px;
    .text{
      text-align: center;
    }
  }
  .editor{
    font-size: 18px;
    padding: 8px;
    grid-area: 9 / 2 / 21 / 12;
  }
  .Desc{
    font-size: 18px;
    padding: 8px;
    grid-area: 9 / 2 / 21 / 12;
  }
  .saveDesc{
    font-size: 20px;
    margin: 10px;
    grid-area: 21 / 4 / 24 / 10;
  }
}
.text{
  display: table-cell;
}
.likesCounter{
  color: white;
  padding: 4px;
  font-size: 22px;
  text-align: center;
  display: table;
  .Like{
    width: 30px;
    padding-bottom: 12px;
    color: rgb(0, 38, 255);
  }
  .likes{
    display: table-cell;
  }
}
.profile{
  margin: auto;
  height: 100%;
  display: grid;
  outline: 4px solid white;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  overflow-x: hidden;
}
.userProfilePicture{
  position: relative;
  border-radius: 50%;
  width: 100%;
  // box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 0;
}

.userProfilePicture img{
  display: block;
  width: 100%;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}
.userProfilePicture:hover .overlay .overImg{
  opacity: 0.5;
}
.overlay{
  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // height: 100%;
  // width: 100%;
  // opacity: 0;
  transition: .5s ease;
  background-color: transparent;
  
  .Overtext{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .overImg{
    opacity: 0;
    width: 100%;
  }
}
.pfpEdit{
  outline: 1x solid white;
  color: white;
  width: 100%;
  display: none;
  height: 100%;
  // word-wrap: break-word;
  button{
    height: 100%;
    width: 100%;
  }
}
.Username{
  display: table;
  vertical-align: middle;
  color: white;
  border-bottom: 1px solid white;
  margin-bottom:  -1px;
}
.editor{
  color: white;
  outline: 2px solid white;
  background-color: transparent;
  border:none;
  background-image:none;
  box-shadow: none;
  resize: none;
}
.Desc{
  backdrop-filter: blur(3px) brightness(70%);
  color: white;
  outline: 2px solid white;
}
.saveDesc{
  text-align: center;
}
