$buttonHeight: 40px;

.page{
    // background: url('https://i.pinimg.com/originals/3b/8a/d2/3b8ad2c7b1be2caf24321c852103598a.jpg');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-position: center;
    // filter: brightness(130%) contrast(110%);
}



#return{
    position: absolute;
    width: 70px;
    filter: invert(1);
    transition: 0.2s ease-in-out;
    // transition: all 0.3s;
    cursor: pointer;
    margin-left: 2%;
}
#return:hover{
    transform: scale(1.15);
}
.button{
    color: white;
    font-size: 24px;
    text-align: center;
    // width: 150px;
    border: 3px solid white;
    display: inline-block;
    cursor: pointer;
    padding: 10px 0px;
    backdrop-filter: blur(3px) brightness(100%);
    transition: 0.4s ease-out;

}
.button:hover{
    transform: scale(1.05);
}
.buttons{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(12, 1fr);
}
.loginbt{

    grid-area: 1 / 4 / 1 / 6;
}
.registerbt{
    grid-area: 1 / 8 / 1 / 10;
}
.forms{
    margin-top: 4%;
    overflow: hidden;
}
